In [1]:
import pandas as pd
import sqlalchemy as sql

In [40]:
conn = sql.create_engine('mysql://zezeon:cockcodk0@localhost/csv?charset=utf8')

In [70]:
df = pd.read_sql('select * from algorithm', conn)
df.columns

Index([u'학번', u'학년', u'이름', u'핸드폰', u'이메일'], dtype='object')

In [58]:
df.head()

           학번  학년   이름            핸드폰                      이메일
0  2008111939   3  이주익  010-5688-1841        wndlrrl@naver.com
1  2011112287   0  김혁진  010-2705-7159         hj7159@naver.com
2  2011112329   0  조양규  010-8750-1432    gimmetheone@naver.com
3  2012111659   0  나선엽  010-2881-8818  billyna2001@hanmail.net
4  2012111944   0  이용호    01041415409         yh1483@naver.com

In [84]:
df[df[u'학번']>2015000000]

            학번  학년   이름            핸드폰                     이메일
25  2015112114   0  박소희    01077226585      phj99209@naver.com
26  2015112148   0  임세진  010-3634-5039     pearlcang@naver.com
27  2015112156   0  정수경    01093736828    soo_960315@naver.com
28  2015112157   0  황선영  010-5763-0808  whiteflower_@naver.com
29  2015112163   0  서소영  010-5486-6823       soy9567@naver.com
30  2015112482   0  손명희  010-6247-6121  cubemackerel@naver.com
31  2016110056   0  박승원   031-255-6698       zezeon1@gmail.com